<a href="https://colab.research.google.com/github/chuancao26/islp/blob/main/unsaanalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
df = pd.read_csv("/content/drive/MyDrive/machine_learning/Aplicaciones/unsa_analisis/dataset_2023-2025_v2 (1).csv")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175442 entries, 0 to 175441
Data columns (total 20 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   ID                             175442 non-null  object
 1   ANO_POSTULACION                175442 non-null  int64
 2   MODALIDAD_POSTULACION          175442 non-null  object
 3   FASE_POSTULACION               175442 non-null  int64
 4   SEDE                           175442 non-null  object
 5   SEXO                           175442 non-null  object
 6   PAIS_NACIMIENTO                175442 non-null  object
 7   DEPARTAMENTO_NACIMIENTO        175442 non-null  object
 8   PROVINCIA_DEPARTAMENTO         175442 non-null  object
 9   DISTRITO_NACIMIENTO            175442 non-null  object
 10  TIPO_COLEGIO                   175442 non-null  object
 11  PAIS_COLEGIO                   175442 non-null  object
 12  DEPARTAMENTO_COLEGIO           175442 non-null  object
 13  PROVINCIA_COLEGIO              175442 non-null  object
 14  DISTRITO_COLEGIO               175442 non-null  object
 15  DISCAPACIDAD                   175442 non-null  object
 16  CONDICION                      175442 non-null  object
 17  PROGRAMA_ESTUDIOS_POSTULACION  175442 non-null  object
 18  PROGRAMA_ESTUDIOS_INGRESO      175442 non-null  object
 19  PUNTAJE_FINAL                  175442 non-null  float64
dtypes: float64(1), int64(2), object(17)
memory usage: 26.8+ MB

# EDA

In [6]:
df.ANO_POSTULACION

0         2023
1         2023
2         2023
3         2023
4         2023
          ...
175437    2025
175438    2025
175439    2025
175440    2025
175441    2025
Name: ANO_POSTULACION, Length: 175442, dtype: int64

In [7]:
df.columns

Index(['ID', 'ANO_POSTULACION', 'MODALIDAD_POSTULACION', 'FASE_POSTULACION',
       'SEDE', 'SEXO', 'PAIS_NACIMIENTO', 'DEPARTAMENTO_NACIMIENTO',
       'PROVINCIA_DEPARTAMENTO', 'DISTRITO_NACIMIENTO', 'TIPO_COLEGIO',
       'PAIS_COLEGIO', 'DEPARTAMENTO_COLEGIO', 'PROVINCIA_COLEGIO',
       'DISTRITO_COLEGIO', 'DISCAPACIDAD', 'CONDICION',
       'PROGRAMA_ESTUDIOS_POSTULACION', 'PROGRAMA_ESTUDIOS_INGRESO',
       'PUNTAJE_FINAL'],
      dtype='object')

In [9]:
df.MODALIDAD_POSTULACION.value_counts()

MODALIDAD_POSTULACION
Ordinario                                                               96880
Ceprunsa                                                                51576
Ciclo Quintos                                                           22444
Extraordinario-Primeros Puestos                                          2577
Extraordinario-Titulados y Graduados                                      546
Extraordinario-COAR                                                       499
Extraordinario-Traslados Internos                                         372
Extraordinario-Personas con Discapacidad                                  226
Extraordinario-Traslados Externos                                         127
Extraordinario-Deportistas Calificados                                     59
Extraordinario-Victimas de Terrorismo                                      49
Extraordinario-Victimas de Violencia                                       45
Extraordinario-Bachillerato Internacional                                  27
Extraordinario-Egresados/Bachilleres de Universidades No Licenciadas       11
Extraordinario-Convenio Andres Bello (Iniciar estudios univ.)               4
Name: count, dtype: int64