<a href="https://colab.research.google.com/github/chuancao26/islp/blob/main/UnsaAnalisis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
df = pd.read_csv("/content/drive/MyDrive/machine_learning/datasetUNSA.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175442 entries, 0 to 175441
Data columns (total 20 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   ID                             175442 non-null  object
 1   ANO_POSTULACION                175442 non-null  int64
 2   MODALIDAD_POSTULACION          175442 non-null  object
 3   FASE_POSTULACION               175442 non-null  int64
 4   SEDE                           175442 non-null  object
 5   SEXO                           175442 non-null  object
 6   PAIS_NACIMIENTO                175442 non-null  object
 7   DEPARTAMENTO_NACIMIENTO        175442 non-null  object
 8   PROVINCIA_DEPARTAMENTO         175442 non-null  object
 9   DISTRITO_NACIMIENTO            175442 non-null  object
 10  TIPO_COLEGIO                   175442 non-null  object
 11  PAIS_COLEGIO                   175442 non-null  object
 12  DEPARTAMENTO_COLEGIO           175442 non-null  object
 13  PROVINCIA_COLEGIO              175442 non-null  object
 14  DISTRITO_COLEGIO               175442 non-null  object
 15  DISCAPACIDAD                   175442 non-null  object
 16  CONDICION                      175442 non-null  object
 17  PROGRAMA_ESTUDIOS_POSTULACION  175442 non-null  object
 18  PROGRAMA_ESTUDIOS_INGRESO      175442 non-null  object
 19  PUNTAJE_FINAL                  175442 non-null  float64
dtypes: float64(1), int64(2), object(17)
memory usage: 26.8+ MB

In [6]:
df.columns = df.columns.str.lower()

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175442 entries, 0 to 175441
Data columns (total 20 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   id                             175442 non-null  object
 1   ano_postulacion                175442 non-null  int64
 2   modalidad_postulacion          175442 non-null  object
 3   fase_postulacion               175442 non-null  int64
 4   sede                           175442 non-null  object
 5   sexo                           175442 non-null  object
 6   pais_nacimiento                175442 non-null  object
 7   departamento_nacimiento        175442 non-null  object
 8   provincia_departamento         175442 non-null  object
 9   distrito_nacimiento            175442 non-null  object
 10  tipo_colegio                   175442 non-null  object
 11  pais_colegio                   175442 non-null  object
 12  departamento_colegio           175442 non-null  object
 13  provincia_colegio              175442 non-null  object
 14  distrito_colegio               175442 non-null  object
 15  discapacidad                   175442 non-null  object
 16  condicion                      175442 non-null  object
 17  programa_estudios_postulacion  175442 non-null  object
 18  programa_estudios_ingreso      175442 non-null  object
 19  puntaje_final                  175442 non-null  float64
dtypes: float64(1), int64(2), object(17)
memory usage: 26.8+ MB

In [9]:
df.sexo.value_counts()

sexo
FEMENINO     90196
MASCULINO    85246
Name: count, dtype: int64

In [10]:
df.head()

,id,ano_postulacion,modalidad_postulacion,fase_postulacion,sede,sexo,pais_nacimiento,departamento_nacimiento,provincia_departamento,distrito_nacimiento,tipo_colegio,pais_colegio,departamento_colegio,provincia_colegio,distrito_colegio,discapacidad,condicion,programa_estudios_postulacion,programa_estudios_ingreso,puntaje_final
0,0fa4e1d2123ace72a0c07a556e927101d3b1fa3f96a9b0...,2023,Ordinario,1,AREQUIPA,FEMENINO,PERÚ,AREQUIPA,CAMANA,CAMANA,NACIONAL,PERÚ,AREQUIPA,CONDESUYOS,RIO GRANDE,NINGUNA,NO INGRESANTE,INGENIERÍA AMBIENTAL,NO APLICA,40.164914
1,ddd180a4466685b23ed9fee26d0d9cb5f081608808ccea...,2023,Ordinario,1,AREQUIPA,MASCULINO,PERÚ,CUSCO,CUSCO,SANTIAGO,NACIONAL,PERÚ,AREQUIPA,AREQUIPA,CAYMA,NINGUNA,NO INGRESANTE,INGENIERÍA MECÁNICA,NO APLICA,48.628489
2,86d9f191c026ce1e0177d91e0428d28bb8f9365a8317b5...,2023,Ordinario,1,AREQUIPA,MASCULINO,PERÚ,AREQUIPA,AREQUIPA,AREQUIPA,NACIONAL,PERÚ,AREQUIPA,AREQUIPA,CAYMA,NINGUNA,NO INGRESANTE,MEDICINA,NO APLICA,60.632694
3,40da348e30958700742a602db7ed9e76da738625955924...,2023,Ordinario,1,AREQUIPA,FEMENINO,PERÚ,AREQUIPA,CAYLLOMA,CAYLLOMA,NACIONAL,PERÚ,AREQUIPA,AREQUIPA,AREQUIPA,NINGUNA,NO INGRESANTE,ADMINISTRACIÓN,NO APLICA,48.561414
4,634bce1b71598aee213035a6cc63d3f879d11a8cb7ce4f...,2023,Ordinario,1,AREQUIPA,FEMENINO,PERÚ,AREQUIPA,AREQUIPA,AREQUIPA,PARTICULAR,PERÚ,AREQUIPA,AREQUIPA,MARIANO MELGAR,NINGUNA,NO INGRESANTE,PSICOLOGÍA,NO APLICA,50.090149

In [15]:
df[df.programa_estudios_postulacion == "MEDICINA"].groupby(by="departamento_nacimiento")["puntaje_final"].mean().sort_values(ascending=False)

departamento_nacimiento
HUANCAVELICA             65.293677
PIURA                    56.747469
AREQUIPA                 51.322422
LIMA                     50.036518
TACNA                    49.467274
JUNIN                    49.068567
PUNO                     47.443816
CUSCO                    47.336860
APURIMAC                 47.077247
LAMBAYEQUE               46.970583
MOQUEGUA                 46.705132
ICA                      46.704030
CALLAO (PROV. CONST.)    46.116310
TUMBES                   45.186832
NO CORRESPONDE           45.055236
CAJAMARCA                42.637604
PERU                     42.491049
PASCO                    42.000849
MADRE DE DIOS            41.979133
LORETO                   41.651340
LA LIBERTAD              41.127890
UCAYALI                  40.422520
AYACUCHO                 40.307397
AMAZONAS                 40.302262
SAN MARTIN               33.375689
HUANUCO                  31.706814
ANCASH                   30.072705
Name: puntaje_final, dtype: float64